# Ambiente Virtual
.venv/
__pycache__/
*.py[cod]

# Variáveis de Ambiente (SEGURANÇA!)
.env*

# NLTK Data (Não precisa subir, o servidor baixa depois)
nltk_data/

# Modelo de IA (se os arquivos forem muito grandes, >100MB)
# Se forem pequenos, pode subir. Se forem grandes, use Git LFS.
# models/error-classifier/weights.bin